<tr>
  <td><%= food.id %></td>
  <td><%= image_tag food.image, class: "image" %></div></td>
  <td><%= food.name %></td>
  <td><%= food.calorie %></td>
  <td>
    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="<%= t ".add_conditions" %>"
      onclick="openFormAddCondition(<%= food.id %>)">
      <i class="material-icons">playlist_add</i>
      <div class="ripple-container"></div>
    </button>
    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="<%= t :edit %>"
      onclick="call_form_edit('<%= edit_admin_food_path food %>')">
      <i class="material-icons">edit</i>
      <div class="ripple-container"></div>
    </button>
    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="<%= t :delete %>">
      <%= link_to [:admin, food], method: :delete, confirmcontent: t("confirm_delete"), class: "btn btn-danger btn-simple btn-xs data-confirm" do %>
      <i class="material-icons">close</i>
      <% end %>
    </button>
  </td>
</tr>
