<div class="modal fade in" id="modal-add-food" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_for [:admin, @food], remote: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
          <h4 class="modal-title">Add food</h4>
        </div>
        <div class="modal-body">
          <div class="form-group label-floating is-empty">
            <%= f.label t(".name"), class: "control-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div>
            <%= f.label t(".image"), class: "control-label" %>
            <%= f.file_field :image %>
          </div>
          <div class="form-group label-floating is-empty">
            <%= f.label t(".calorie"), class: "control-label" %>
            <%= f.number_field :calorie, class: "form-control" %>
          </div>
          <label class="control-label">Cooking method</label>
            <div>
              <%= f.cktext_area :cooking_method, rows: 20 %>
            </div>
          </div>
        <div class="modal-footer">
          <%= f.submit t(".add"), class: "btn btn-default btn-simple" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
