<div class="modal fade in" id="modal-add-food" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag admin_foods_path, method: :post, authenticity_token: true, multipart: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
          <h4 class="modal-title">Add food</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group label-floating is-empty">
                <%= label_tag t(".name"), nil, class: "control-label" %>
                <%= text_field_tag "food[name]",  nil, class: "form-control", required: true %>
              </div>
              <div>
                <%= label_tag t(".image"),  nil, class: "control-label" %>
                <%= file_field_tag "food[image]", accept: Settings.accepted_files, required: true %>
              </div>
              <div class="form-group label-floating is-empty">
                <%= label_tag t(".calorie"), nil, class: "control-label" %>
                <%= number_field_tag "food[calorie]", nil, class: "form-control", step: "0.1", required: true %>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group label-floating is-empty">
                <%= label_tag t(".ingredients"), nil, class: "control-label" %>
                <%= text_field_tag "ingredient", nil, class: "form-control", onkeyup: "search_ingredient(this, '#{admin_foods_path}')"  %>
              </div>
              <div class="ingredient_items">
                <div id="ingredient_items" class="ingredient_items_result"></div>
              </div>
              <div id="ingredient_added">
              </div>
            </div>
          </div>
          <div class="row">
            <div>
              <%= label_tag t(".cooking_method"), nil, class: "control-label" %>
              <%= cktext_area_tag "food[cooking_method]", nil, rows: 20 %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag t(".add"), class: "btn btn-default btn-simple" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
