<div class="modal fade in" id="modal-edit-food" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_for [:admin, @food], multipart: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
          <h4 class="modal-title">Edit food</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group label-floating is-empty">
                <%= label_tag "",t(".name") %>
                <%= f.text_field :name, class: "form-control", required: true %>
              </div>
              <div class="form-group row">
                <div class="file-field input-field">
                  <div class="btn btn-primary">
                    <span><%= t :image %></span>
                    <%= f.file_field  :image, accept: Settings.accepted_files %>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate form-control" type="text" disabled="disabled" value="<%= t(:instance) if f.object.image.file %>">
                  </div>
                </div>
              </div>
              <div class="form-group label-floating is-empty">
                <%= label_tag "",t(".calorie") %>
                <%= f.number_field :calorie, class: "form-control", step: "0.001", required: true %>
              </div>
              <div class="form-group label-floating is-empty autocomplete input">
                <%= label_tag t(:tag), nil, class: "control-label" %>
                <%= text_field_tag "hashtag",  nil, class: "form-control suggestion", onkeyup: "searchHashtag(this, event);" %>
                <span style="display:none;" class="suggestion-name-sub">food</span>
                <span style="display:none;" class="suggestion-name">food[food_hashtags_attributes]</span>
                <ul class="autocomplete-suggestion" style="display:none;"></ul>
                  <%= f.fields_for :food_hashtags do |tag| %>
                    <span class="hashtag" id="hashtag-id-<%= tag.object.name %>">
                      <span>
                        <%= tag.object.name %>
                      </span>
                      <%= tag.hidden_field :id %>
                      <%= tag.hidden_field :_destroy, value: tag.object.id, disabled: true %>
                      <i class="remove-tag-icon" onclick="removeServer(this, '.hashtag')">&times;</i>
                    </span>
                  <% end %>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group label-floating is-empty">
                <%= label_tag "",t(".ingredients") %>
                <%= text_field_tag :ingredients, nil, class: "form-control", onkeyup: "search_ingredient(this, '#{admin_foods_path}')" %>
              </div>
              <div class="ingredient_items">
                <div id="ingredient_items" class="ingredient_items_result"></div>
              </div>
              <div id="ingredient_added">
                <%= f.fields_for :food_ingredients do |ingredient| %>
                  <div class="result_ingredient" id="ingredient_add_<%= ingredient.object.id %>">
                    <%= ingredient.hidden_field :id %>
                    <%= ingredient.hidden_field :_destroy,value: ingredient.object.id, class: "destroy-ingredient", disabled: "true" %>
                    <button type="button" class="close" onclick="removeIngredient(this)"><i class="material-icons">clear</i></button>
                    <div class="ingredient_image">
                      <%= image_tag ingredient.object.image, class: "ingredient_image" %>
                    </div>
                    <div class="ingredient_detail">
                      <a><%= trumcate_name ingredient.object.name %></a>
                      <div class="form-group is-empty">
                        <%= ingredient.number_field :value, class: "form-control", step: "0.001", required: true  %>
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div>
              <%= label_tag "",t(".cooking_method") %>
              <%= cktext_area_tag "food[cooking_method]", @food.cooking_method, rows: 40, id: "edit-ingredients" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag t(".update"), class: "btn btn-default btn-simple" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


