<div class="modal fade in" id="modal-add-food" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag admin_foods_path, method: :post, authenticity_token: true, multipart: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
          <h4 class="modal-title">Add food</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group label-floating is-empty">
                <%= label_tag t(".name"), nil, class: "control-label" %>
                <%= text_field_tag "food[name]",  nil, class: "form-control", required: true %>
              </div>
              <div class="form-group row">
                <div class="file-field input-field">
                  <div class="btn btn-primary">
                    <span><%= t :image %></span>
                    <%= file_field_tag  "food[image]", accept: Settings.accepted_files %>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate form-control" type="text" disabled="disabled">
                  </div>
                </div>
              </div>
              <div class="form-group label-floating is-empty">
                <%= label_tag t(".calorie"), nil, class: "control-label" %>
                <%= number_field_tag "food[calorie]", nil, class: "form-control", step: "0.1", required: true %>
              </div>
              <div class="form-group label-floating is-empty autocomplete input">
                <%= label_tag t(:tag), nil, class: "control-label" %>
                <%= text_field_tag "hashtag",  nil, class: "form-control suggestion", onkeyup: "searchHashtag(this, event);" %>
                <span style="display:none;" class="suggestion-name-sub">food</span>
                <span style="display:none;" class="suggestion-name">food[food_hashtags_attributes]</span>
                <ul class="autocomplete-suggestion"></ul>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group label-floating is-empty">
                <%= label_tag t(".ingredients"), nil, class: "control-label" %>
                <%= text_field_tag "ingredient", nil, class: "form-control", onkeyup: "search_ingredient(this, '#{admin_foods_path}')"  %>
              </div>
              <div class="ingredient_items">
                <div id="ingredient_items" class="ingredient_items_result"></div>
              </div>
              <div id="ingredient_added">
              </div>
            </div>
          </div>
          <div class="row div-condition-details-row-class">
            <div class="form-group div-condition-details">
              <div class="div-condition-detail template row form-group">
                <div class="input-field condition col-md-5 col-sx-12">
                  <%= render "shared/select_conditions", name: "food[food_conditions_attributes][0]", selected: nil %>
                </div>
                <div class="col-md-5 col-sx-10">
                  <div class="condition_details input-field">
                    <label for="condition_detail-select"><%= t :condition_details %></label>
                    <select class="form-control" id="condition_detail-select" name="<%= "#{@params_name}[condition_detail_id]" %>">
                    </select>
                  </div>
                </div>
                <div class="col-md-1 col-sx-2">
                  <div class="checkbox">
                    <label  class="label-label"><%= t :match %></label>
                    <label>
                      <input type="checkbox" name="food[food_conditions_attributes][0][is_match]" checked>
                    </label>
                  </div>
                </div>
                <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs display-none" data-original-title="Delete" onclick="removeCondition(this)">
                  <i class="material-icons">close</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="<%= t ".add_c" %>"
              onclick='addCondition()'>
              <i class="material-icons">add</i>
              <div class="ripple-container"></div>
            </button>
          </div>
          <div class="row">
            <div>
              <%= label_tag t(".cooking_method"), nil, class: "control-label" %>
              <%= cktext_area_tag "food[cooking_method]", nil, rows: 40 %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag t(".add"), class: "btn btn-default btn-simple" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
