<% provide :title, t(".title") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title"><%= t ".foods" %></h4>
          <p class="category">Created using Roboto Font Family</p>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary btn-round btn-just-icon pull-right" data-toggle="modal" data-target="#modal-add-food">
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Calorie</th>
              <th>Cooking method</th>
            </thead>
            <tbody>
              <%= render @foods %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div class="card">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">
            <%= t :manager, managed: "Food Tree" %>
          </h4>
          <p class="category"><%= t ".category_tree"%></p>
        </div>
        <div class="card-content table-responsive">
           <div class="chart" id="custom-colored-tree"> --@-- </div>
              <script>

              var chart_config = {
                  chart: {
                      container: "#custom-colored-tree",

                      nodeAlign: "BOTTOM",

                      connectors: {
                          type: 'step'
                      },
                      node: {
                          HTMLclass: 'nodeExample1'
                      }
                  },
                  nodeStructure: <%= @json.to_json.html_safe %>
              };

          new Treant( chart_config );
        </script>
        </div>
      </div>
    </div>
  </div>
</div>
<% provide :modal, render("admin/foods/modal_add") %>
