<% provide :main_class, "index-page" %>
<%= render "layouts/header" %>
<div class="main main-raised">
  <div class="profile-content fixed_body fix">
    <div class="container">
      <div class="row">
        <div class="pull-right">
          <%= form_tag search_index_path, method: :get do %>
            <div class="row hide">
              <div class="checkbox"></div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[2]", Food.name, true %>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[3]", Post::Tip.name, true %>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[4]", Ingredient.name, true %>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[4]", User.name, true %>
                </label>
              </div>
            </div>
            <div class="form-group is-empty inline label-floating ">
              <label for="search_box" class="control-label"><%= t :search %></label>
              <%= text_field_tag "keyword", nil,id: "search_box", class: "form-control", size: "40" %>
              <span class="material-input"></span>
              <span class="material-input"></span></div>
              <button class="btn btn-white btn-round btn-just-icon" data-original-title="" title="" type="submit">
              <i class="material-icons">search</i><div class="ripple-container"></div>
            </button>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="headline">
          <h3><%= t "best_rating" %></h3>
        </div>
        <div class="row">
          <%= render partial: "food_item", collection: @foods,
            as: :food %>
        </div>
      </div>
      <div class="row">
        <div class="headline">
          <h3><%= t :tip %></h3>
        </div>
        <div class="row">
          <%= render partial: "tip_item", collection: @tips,
            as: :tip %>
        </div>
      </div>
      <div class="row">
        <div class="headline">
        </div>
      </div>
    </div>
  </div>
</div>
