<% provide :main_class, "index-page" %>
<%= render "layouts/header" %>
<div class="main main-raised">
  <div class="profile-content fixed_body fix">
    <div class="container">
      <div class="headline">
        <h3><%= t ".search" %></h3>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
          <%= form_tag search_index_path, method: :get do %>
            <div class="row inline">
              <div class="checkbox"></div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[2]", Food.name, true %>
                  <%= t ".food" %>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[3]", Post::Tip.name, true %>
                  <%= t ".post" %>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[4]", Ingredient.name, true %>
                  <%= t ".ingredient" %>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "type[4]", User.name, true %>
                  <%= t ".users" %>
                </label>
              </div>
            </div>
            <div class="form-group is-empty inline">
              <%= text_field_tag "keyword", nil , placeholder: "Search", class: "form-control", size: "40" %>
              <span class="material-input"></span>
              <span class="material-input"></span></div>
              <button class="btn btn-white btn-round btn-just-icon" data-original-title="" title="">
              <i class="material-icons">search</i><div class="ripple-container"></div>
            </button>
          <% end %>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="headline">
          <% if @results.any? %>
            <h3><%= t ".result" %></h3>
          <% end %>
        </div>
          <% if @results.any? %>
            <% @results.each do |result| %>
              <% if result %>
                <div class="row">
                  <div class="headline">
                    <h3><%= t(".#{result.first.class.name.downcase.tr(":", "")}") %></h3>
                  </div>
                  <%= render result %>
                  <div class="paginate">
                    <%= paginate result, params: {tab: :"#{result.first.class.name.downcase}_page"} %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <div class="end-page"></div>
      </div>
    </div>
  </div>
</div>
