<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">room_service</i>
        </div>
        <div class="card-content">
          <p class="category"><%= t ".foods" %></p>
          <h3 class="title"><%= Food.all.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">warning</i><!--  <a href="#pablo">Get More Space...</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">book</i>
        </div>
        <div class="card-content">
          <p class="category"><%= t ".tips" %></p>
          <h3 class="title"><%= Post::Tip.all.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> <%=  TargetHashtag.where(target_type: Post.name).size %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">store</i>
        </div>
        <div class="card-content">
          <p class="category"><%= t".user_posts" %></p>
          <h3 class="title"><%=  Post::UserPost.all.size %></h3>
          <button class="btn btn-primary btn-round btn-just-icon btn-simple btn-xs pull-right"  data-toggle="modal" data-target="#modal-send-mail" data-original-title="<%= t ".send_all" %>" title="">
            <i class="material-icons">contact_mail</i>
            <div class="ripple-container"></div>
          </button>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> <!-- Last 24 Hours -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">label</i>
        </div>
        <div class="card-content">
          <p class="category"><%= t ".hashtag" %></p>
          <h3 class="title"><%= Hashtag.all.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% provide :modal, render("admin/dashboard/modal_send_mail") %>
