<% provide :main_class, "profile-page" %>
<% provide :title, @user.name %>
<%= render "layouts/navbar" %>
<div class="header header-filter user_detail">
</div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="profile">
          <div class="avatar">
            <%= image_tag @user.avatar, class: "img-circle img-responsive img-raised" %>
          </div>
          <div class="name">
            <h3 class="title"><%= @user.name %></h3>
            <h6 id="followers">
              <%= t(:follow_details, following: @user.followers.count) %>
            </h6>
          </div>
          <div class="relationships row">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="follow-form">
              <% if user_signed_in? && current_user != @user %>
              <%= current_user.following?(@user) ? render("unfollow") : render("follow") %>
              <% end %>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <%= render "users/users", users: @users if @users&.any? %>
      </div>
    </div>
  </div>
</div>

