<% provide :title, t(".title", name: @user.name) %>
<%= render "layouts/navbar" %>
<div class="profile-tabs">
  <div class="nav-align-center">
    <ul class="nav nav-pills trans" role="tablist">
      <li>
        <a href="#profile" role="tab" data-toggle="tab" class="click-event">
          <i class="material-icons">account_box</i>
          <%= :profile %>
        </a>
      </li>
      <li class="<%= :activities unless @user.id == current_user&.id %>">
        <a href="#activities" role="tab" data-toggle="tab" class="click-event">
          <i class="material-icons">view_day</i>
          <%= t :activities %>
        </a>
      </li>
      <% if @user.id == current_user&.id %>
        <li class="active">
          <a href="#physical" role="tab" data-toggle="tab" class="click-event">
            <i class="material-icons">receipt</i>
            <%= t :conditions %>
          </a>
        </li>
      <% end %>
      <li>
        <a href="#favorite" role="tab" data-toggle="tab" class="click-event">
          <i class="material-icons">favorite</i>
          <%= :favorite %>
        </a>
      </li>
    </ul>

    <div class="tab-content gallery">
      <div class="tab-pane fade in <%= :activities unless @user.id == current_user&.id %> text-center active" id="activities">
        <div class="row">
        </div>
      </div>
      <% if @user.id == current_user&.id %>
        <div class="tab-pane active" id="physical">
          <%= form_tag user_conditions_path, method: :post do %>
            <%= hidden_field_tag :"user[id]", @user.id %>
            <div class="row">
              <div class="row">
                <div class="col-md-2 col-sx-12">
                </div>
                <div class="form-group div-condition-details col-md-8 col-sx-12" id="div-condition-details-0">
                  <% @user.user_conditions.each_with_index do |c, i| %>
                    <%= hidden_field_tag :"user[user_conditions_attributes][#{i}][id]", c.id %>
                    <%= hidden_field_tag :"user[user_conditions_attributes][#{i}][_destroy]", c.id, disabled: true %>
                    <div class="div-condition-detail row form-group">
                      <div class="input-field condition col-md-5 col-sx-12">
                        <%= render "shared/select_conditions", name: "user[user_conditions_attributes][#{i}]", selected: c.condition.id %>
                      </div>
                      <div class="col-md-5 col-sx-10">
                        <div class="condition_details input-field">
                          <div class="condition_details input-field">
                            <label for="condition_detail-select"><%= t :condition_details %></label>
                            <select class="form-control" id="condition_detail-select"
                              name="<%= "user[user_conditions_attributes][#{i}][condition_detail_id]" %>">
                              <% c.condition.condition_details.each do |d| %>
                                <option value="<%= d.id %>" <%= :selected if d.id == c.condition_detail_id %>><%= d.value %></option>
                              <% end %>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 col-sx-2">
                        <div class="checkbox hide">
                          <label class="label-label"><%= t :match %></label>
                          <label>
                            <%= check_box_tag :"user[user_conditions_attributes][#{i}][is_match]", true, c.is_match %>
                          </label>
                        </div>
                      </div>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Delete"
                        onclick="removeServer(this, '.div-condition-detail')">
                        <i class="material-icons">close</i>
                        <div class="ripple-container"></div>
                      </button>
                    </div>
                  <% end %>
                  <div class="div-condition-detail template row form-group">
                    <div class="input-field condition col-md-5 col-sx-12">
                      <%= render "shared/select_conditions", name: "user[user_conditions_attributes][#{@user.user_conditions.size}]", selected: nil %>
                    </div>
                    <div class="col-md-5 col-sx-10">
                      <div class="condition_details input-field">
                        <div class="condition_details input-field">
                          <label for="condition_detail-select"><%= t :condition_details %></label>
                          <select class="form-control" id="condition_detail-select" name="<%= "user[user_conditions_attributes][#{@user.user_conditions.size}][condition_detail_id]" %>">
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1 col-sx-2">
                      <div class="checkbox hide">
                        <label class="label-label"><%= t :match %></label>
                        <label>
                          <%= check_box_tag :"user[user_conditions_attributes][#{@user.user_conditions.size}][is_match]", true, true %>
                        </label>
                      </div>
                    </div>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs display-none" data-original-title="Delete" onclick="removeCondition(this)">
                      <i class="material-icons">close</i>
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </div>
                <div class="col-md-2 col-sx-12"></div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sx-0"></div>
                <div class="col-md-6 col-sx-12">
                  <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple pull-left btn-addCondition" data-original-title="<%= t ".add_c" %>"
                    onclick='addCondition("#div-condition-details-0")'>
                    <i class="material-icons">add</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
                <div class="col-md-3 col-sx-0"></div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sx-0"></div>
                <div class="col-md-6 col-sx-12">
                  <button type="submit" rel="tooltip" title="" class="btn btn-primary pull-right" data-original-title="<%= t ".update" %>">
                    <i class="material-icons">done_all</i>
                    <div class="ripple-container"></div>
                    <span><%= t :update %></span>
                  </button>
                </div>
                <div class="col-md-3 col-sx-0"></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="tab-pane text-center" id="favorite">
        <div class="row">
        </div>
      </div>
      <div class="tab-pane" id="profile">
        <div class="row">
          <%= form_for @user, method: :put do |f| %>
          <div class="col-md-2"></div>
          <div class="row">
            <div class="form-group col-md-4 col-sx-6">
              <div class="form-group label-floating">
                <%= f.label t (".name"), class: "control-label" %>
                <%= f.text_field :name, class: "form-control", required: true %>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="form-group col-md-4 col-sx-6">
              <div class="form-group label-floating">
                <%= f.label t (".email"), class: "control-label" %>
                <%= f.text_field :email, class: "form-control", required: true %>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="row">
            <div class="form-group col-md-4 col-sx-6">
              <div class="form-group label-floating">
                <label class="control-label">Gender</label>
                <div class="radio radio-gender">
                  <label>
                    <%= f.radio_button :gender, "1" %>
                    <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                    Male
                  </label>
                </div>
                <div class="radio radio-gender">
                  <label>
                    <%= f.radio_button :gender, "0" %>
                    Female
                  </label>
                  </div
                  <span class="material-input"></span></div>
                </div>
                <div class="form-group col-md-4 col-sx-6">
                  <div class="form-group label-floating">
                    <%= f.label t (".birthday"), class: "control-label" %>
                    <%= f.text_field :birthday, class: "datepicker form-control", required: true %>
                    <span class="material-input"></span></div>
                  </div>
                </div>
              </div>
              <%= f.submit class: "btn btn-primary pull-right" %>
              <% end %>
              <div class="row"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if current_user&.id != @user.id %>
  <script type="text/javascript">
    $(document).ready(function() {
      disable_input();
    });
  </script>
<% end %>
