<tr id="index-admin-category-<%= category.id %>">
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= category.left %></td>
  <td><%= category.right %></td>
  <td class="management-action category">
  <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="<%= t ".add" %>"
      onclick="openModalNewCategory(<%= category.id %>,'<%= category.name %>')">
      <i class="material-icons">add</i>
      <div class="ripple-container"></div>
    </button>
    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="<%= t ".edit_category" %>"
      onclick="openModalEditCategory(<%= category.id %>, '<%= category.name %>', '<%= admin_category_path category %>')">
      <i class="material-icons">edit</i>
      <div class="ripple-container"></div>
    </button>
    <%= link_to admin_category_path(category), method: :delete, class: "btn btn-danger btn-simple btn-xs",  "data-original-title": "#{t :remove}" do %>
      <i class="material-icons">close</i>
      <div class="ripple-container"></div>
    <% end %>
  </td>
</tr>
